@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    font-size: var(--regular);
    font-family: "Montserrat", sans-serif;
    background-color: var(--colourBackground);
    -ms-overflow-style: none;  /* Remove scrollbar (IE 10+) */
    scrollbar-width: none;  /* Remove scrolbar (Firefox) */
}

/* Remove scrollbar (Chrome) */
body::-webkit-scrollbar {
    display: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    /* COLOUR PALETTE */
    --colourBackground: #12171e;
    --colourBackgroundAlt: #080b10;
    --colourPrimary: #f6d30e;
    --colourSecondary: #faeea9;

    /* FONT STYLING */
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;

    --regular: 18px;
    --medium: 20px;
    --subheading: 26px;
    --heading: 26px;
}

/* ---------------- NAVIGATION ANCHORS ---------------- */
.anchor {
    visibility: hidden;
}

/* ---------------- NAVIGATION BAR STYLING ---------------- */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--colourBackgroundAlt);
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
}

.navbar-logo__container {
    margin-inline-start: 3rem;
    padding: 1rem;
}

.navbar-logo {
    font-size: 18px;
    font-weight: var(--bold);
    transition: 0.3s;
    
}

.navbar-logo:hover {
    color: var(--colourPrimary);
    transition: 0.3s ease-in;
}

.navbar-link__container {
    margin-inline-end: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navbar-link, .fa-icon {
    padding-right: 1rem;
    font-size: 20px;
}

.navbar-link a {
    transition: 0.2s ease-out;
}

.navbar-link a:hover {
    padding-bottom: 0.2rem; 
    border-bottom: 2px solid #eeeeee;
    transition: 0.2s ease-in;
}

/* ---------------- PAGE LAYOUT STYLING ---------------- */
#content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

/* ---------------- BUTTON STYLING ---------------- */
/* --- Button Primary */
.buttonPrimary {
    position: relative;
    width: 200px;
    height: 60px;
    margin: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0;
    box-sizing: content-box;
    border: 2px solid transparent;
}

.buttonPrimary::before, .buttonPrimary::after, span::before, span::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
}

.buttonPrimary::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition: 0.4s all;
}
.buttonPrimary::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transition: 0.4s all;
}

.buttonPrimary span {
    font-size: var(--medium);
}

.buttonPrimary span::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    transition: 0.4s all;
}

.buttonPrimary span::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: 0.4s all;
}

.buttonPrimary:hover::before, .buttonPrimary:hover::after {
    width: 100px;
    height: 30px;
}

.buttonPrimary:hover span::before, .buttonPrimary:hover span::after {
    width: 100px;
    height: 30px;
}

/* ---------------- SECTION STYLING ---------------- */
/* Reusable Section Styles  */
.section-container {
    display: flex;
    flex-direction: column;
    /* width: min(100% - 2rem, 1200px;);
    height: 500px; */
    width: min(100% - 2rem, 80vw);
    height: 100vh;
    margin: 10px 0;
    /* background-color: #333; */
}

/* Marign Spacing */
.marginTop {
    margin-top: 1.5rem;
}

.marginTop2 {
    margin-top: 3rem;
}

.marginBottom {
    margin-bottom: 1.5rem;
}

.marginBottom2 {
    margin-bottom: 3rem;
}

.marginLeft {
    margin-left: 1.5rem;
}

.marginLeft2 {
    margin-left: 3rem;
}

.marginRight {
    margin-right: 1.5rem;
}

.marginRight2 {
    margin-right: 3rem;
}

.spaced {
    letter-spacing: 0.5rem;
}

/* Tech Stack Icons */
#HTML5 {
    color: #f66632;
}

#CSS3 {
    color: #007dc6;
}

#JavaScript {
    color: #f7df1e;
}

#React {
    color: #7ddfff;
}

/* Content-Specific Section Styles */


/* ---------------- LANDING STYLING ---------------- */
.landing {
    justify-content: center;
    width: 60vw;
}

.section-landing {
    text-align: center;
}

.section-landing__preTitle {
    font-size: 17px;
    font-weight: var(--light);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.section-landing__title {
    font-size: 96px;
    font-weight: var(--semi-bold);
    text-transform: uppercase;
}

.section-landing__content {
    font-size: 22px;
    font-weight: var(--light);
    text-transform: uppercase;
    margin-bottom: 5rem;
}

/* ---------------- ABOUT STYLING ---------------- */
.about {
    width: 50vw;
}

.section-about {
    text-align: left;
}

.section-about__title {
    font-size: 40px;
    font-weight: var(--semi-bold);
    text-transform: uppercase;
}

.section-about__content__inner {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: var(--light);
    margin-bottom: 5rem;
}

.section-about__stack ul {
    display: flex;
    margin: 3.5rem auto;
    width: 50%;
    justify-content: space-around;
}

.section-about__stack ul li {
    display: inline-block;
    font-size: 50px;
}

.section-about__stack img {
    display: inline-block;
    width: 50px;
    height: auto;
}

/* ---------------- Footer Styling ---------------- */