.new-expense {
  background-color: #1a1919;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border: 1px solid #8c031e;
  background-color:  #8c031e;;
  color: #fff;
  border-radius: 8px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #630216;
  border-color: #630216;
}

.new-expense button.alternative {
  color: #3a010c;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #1a1919;
}